<!-- about.component.html -->

<div class="about-container">
  <div class="image-container">
    <img src="/assets/bhanu.JPG" alt="Your Image">
  </div>
  <div class="text-container">
    <h1>Hello, I am Bhanu Pravallika Pothuru</h1>
    <p>Passionate about leveraging cutting-edge technologies to develop innovative solutions that drive efficiency and elevate user experiences.</p>
  </div>
  <div class="gif-container">
    <img src="/assets/dev.gif" alt="GIF">
  </div>
</div>
<app-experience></app-experience>
<app-project></app-project>
<app-skills></app-skills>
<app-education></app-education>
<app-contact></app-contact>

  <div class="background-image"></div>
  