<!-- contact.component.html -->

<div class="section-padding bg-color contact-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="section-title">
            <h1>Contact Me</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="text-info">
            <h4>Let's Keep In Touch</h4>
            <p>24/7 available to respond faster, for any query and help in software development please contact me.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="address">
            <div class="icon-row">
              <div class="icon-item">
                <i class="fas fa-map-signs" aria-hidden="true"></i>
                <p>Albany, United States</p>
              </div>
              <div class="icon-item">
                <i class="fas fa-phone" aria-hidden="true"></i>
                <p>+1 8382028930</p>
              </div>
              <div class="icon-item">
                <i class="fas fa-envelope" aria-hidden="true"></i>
                <p><a href="mailto:pothurub2022&#64;gmail.com">pothurub2022&#64;gmail.com</a></p>
              </div>
              <div class="icon-item">
                <i class="fab fa-linkedin" aria-hidden="true"></i>
                <p><a href="https://www.linkedin.com/in/bhanu1998/" target="_blank">Bhanu Pravallika Pothuru</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  