
<div class="navbar">
  <div class="menu-icon">
    <!-- You can replace this with an actual icon or SVG -->
    <img src="assets/favicons/test.ico" alt="Menu" width="30" height="30">
  </div >
  <div class ="nav-links">
    <a routerLink="/about">About</a>
    <a routerLink="/education">Education</a>
    <a routerLink="/experience">Experience</a>
    <a routerLink="/project">Project</a>
    <a routerLink="/skills">Skills</a>
    <a routerLink="/resume">Resume</a>
    <a routerLink="/contact">Contact</a>
  </div>
  </div>
  <router-outlet></router-outlet>